<!DOCTYPE html>
<html>
    <head>
        <title>my first web page</title>
        <style>
            img {
                width:100px;
                border-radius: 50px;
                float: left;
                margin-right: 20px;

            }

            .username {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
      <h3>{{first_key.page}}</h3>
      <img src="Abdull.jpg">
    
      <img src="images/ind.jpg">
      <p class="username">@Abdullahisaliu21@gmail.com</p>
      <p>i love to teach you html!</p> 
    </body>
</html>